.logo {
  width:40px;
  height:30px;
}
.lest{
  display:inline-block;
  width:40%;
}
.right {
  display:inline-block;
  width:40%;
}
.menu {
  
}
.body {
 
}
.footer {
  background-color:purple;
}
.appstore{
  width:60px;
  height: 30px;
}
.image {
  width:200px;
  height:200px ;
}